body {
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0 auto;
}
.users {
  text-align: center;
}
.card {
  border-radius: 15px;
  height: 90%;
  justify-self: center;
  width: 300px;
  margin: 20px;
  border: solid 1px coral;
}
.img-users {
  display: block;
  margin: auto;
  margin-top: 30px;
}
