body {
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0 auto;
}
.container-information {
  background: #eee;
  width: 700px;
}

.nav {
  background-image: linear-gradient(
    to right top,
    #cfd7fe,
    #d1d3fe,
    #d4cefd,
    #d7c9fb,
    #dcc4f8
  );
  height: 70px;
  padding-left: 50px;
  padding-top: 10px;
  /*position: fixed;
  z-index: 1;*/
  width: 100%;
}
nav a {
  font-size: 20px;
  color: black;
  cursor: pointer;
}
nav a:hover {
  color: black;
}
.users {
  text-align: center;
  margin-top: 50px;
  color: #d5caf8;
}
.card {
  border-radius: 5px;
  height: 250px;
  justify-self: center;
  width: 300px;
  margin: 20px;

  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
}
.card:hover {
  transform: translate3D(0, -2px, 0);
}
.card:nth-child(2n) .nameUsers {
  background-image: linear-gradient(
    to right top,
    #cfd7fe,
    #d1d3fe,
    #d4cefd,
    #d7c9fb,
    #dcc4f8
  );
}

.nameUsers {
  font-size: 25px;
  background-image: linear-gradient(
    to right top,
    #cfd7fe,
    #bde3ff,
    #b2efff,
    #b3f8fa,
    #c2ffec
  );
  height: 70px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}
.nameUsers:hover {
  color: black;
  text-decoration: none;
}
.img-users {
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 50%;
}
.information {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
