body {
  text-align: center;
}
nav {
  background-image: linear-gradient(
    to right top,
    #fbeaff,
    #e9efff,
    #d3f5ff,
    #c3faff,
    #c4fcef
  );
  height: 80px;
  justify-content: space-around;
  padding: 15px;
}
nav a {
  color: black;
}

.card {
  border-radius: 5px;
  height: 250px;
  justify-self: center;
  width: 300px;
  margin: 20px;
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 224px;
  border-radius: 50%;
}
.card a {
  margin: 10px;
  text-decoration: none;
  color: #e8a5f8;
}
.users {
  margin-right: 150px;
  margin-top: 30px;
  color: #e8a5f8;
}
footer {
  background-image: linear-gradient(
    to right top,
    #fbeaff,
    #e9efff,
    #d3f5ff,
    #c3faff,
    #c4fcef
  );
  height: 80px;
  margin-top: 10%;
}
.container-information {
  background-image: linear-gradient(
    to right top,
    #a9f8dc,
    #c3fad6,
    #dbfbd4,
    #eefcd7,
    #fefedf
  );
  width: 500px;
  height: 90%;
  margin-top: 60px;
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
}
.info {
  line-height: 50px;
  display: inline-block;
  text-align: start;
}
.title-comments {
  margin: 30px;
  color: #e8a5f8;
}
.card-comments {
  width: 100%;
  display: inline-block;
  text-align: justify;
  padding: 30px;
  border: none;
  background-image: linear-gradient(
    to right top,
    #a9f8dc,
    #c3fad6,
    #dbfbd4,
    #eefcd7,
    #fefedf
  );
  height: 50%;
}
.name {
  font-size: 15px;
}
.comments {
  font-size: 20px;
}
